<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>You is stuck</title>
  <meta name="description" content="Thw Worldpay stuck page">
  <meta name="author" content="Defra">

</head>

<body>
  <h1>Stuck!</h1>
  <p>Looks like your registration has gotten stuck whilst paying for it using Worldpay.</p>
  <p>We hope that's what you expected to happen.</p>
  <p>Regards, the Ruby Services Team</p>
</body>
</html>
