<!DOCTYPE html>
<html>
<head>
  <title>DefraRubyMocks</title>
  <%= stylesheet_link_tag    "defra_ruby_mocks/application", media: "all" %>
  <%= javascript_include_tag "defra_ruby_mocks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
